@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<button onclick="LoopDefaultTenTimes();">Test Default Session</button>
<button onclick="LoopDisableTenTimes();">Test Disable Session</button>
<button onclick="LoopReadOnlyTenTimes();">Test ReadOnly Session</button>
<label id="result" value="test" ></label>
<script>

function LoopReadOnlyTenTimes(){
    
    for (let i = 0; i < 10; i++) {
        CallSessionDefault();
    }
}

function LoopDefaultTenTimes()
{
    for (let i = 0; i < 10; i++) {
        CallSessionDefault();
    }
}

function LoopDisableTenTimes()
{
    for (let i = 0; i < 10; i++) {
        CallSessionDisable();
    }
}


function CallSessionReadOnly()
{
    $.get("/SessionReadOnly", function(html) {
        console.log(html);
    });
}

function CallSessionDefault()
{
    $.get("/SessionDefault", function(html) {
        console.log(html);
    });
}

function CallSessionDisable()
{
    
    $.get("/SessionDisable", function(html) {
        console.log(html);
    });
    
}
</script>
